<footer class="footer">
    <div class="container">
      <p>&copy; 2024 SARVAM NGO. All rights reserved.</p>
      <div class="links">
        <a routerLink="/home">Home</a> | 
        <a routerLink="/about">About Us</a> | 
        <a routerLink="/programs">Programs</a> | 
        <a routerLink="/contact">Contact</a> | 
        <a href="mailto:ngosarvam@gmail.com">ngosarvam&#64;gmail.com</a>
      </div>
      <div class="newsletter">
        <p>Subscribe to our newsletter for updates:</p>
        <form>
          <input type="email" placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <div class="social-media">
        <a href="https://facebook.com" target="_blank">Facebook</a> | 
        <a href="https://twitter.com" target="_blank">Twitter</a> | 
        <a href="https://instagram.com" target="_blank">Instagram</a> | 
        <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
  