<footer class="footer">
  <div class="container">
    <p>&copy; 2024 SARVAM NGO. All rights reserved.</p>
    <div class="links">
      <a routerLink="/home"><i class="pi pi-home"></i> Home</a>
      <a routerLink="/about"><i class="pi pi-info-circle"></i> About Us</a>
      <a routerLink="/programs"><i class="pi pi-list"></i> Programs</a>
      <a routerLink="/contact"><i class="pi pi-phone"></i> Contact</a>
      <a href="mailto:ngosarvam@gmail.com"><i class="pi pi-envelope"></i> Email</a>
    </div>
    <div class="newsletter">
      <p>Subscribe to our newsletter for updates:</p>
      <form>
        <input type="email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="social-media">
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <i class="pi pi-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="social-icon">
        <i class="pi pi-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="social-icon">
        <i class="pi pi-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-icon">
        <i class="pi pi-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
